USE [QuanLyDVKS]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS (CONVERT([decimal](18,2),[SoLuong]*[DonGia])) PERSISTED,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSDichVu]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDichVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](70) NOT NULL,
	[idLoaiDichVu] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[DVT] [nvarchar](20) NOT NULL,
	[LuuY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapHD] [datetime] NOT NULL,
	[NgayKetThucHD] [datetime] NULL,
	[MaPhong] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](5, 2) NOT NULL,
	[ThanhTien]  AS (CONVERT([decimal](18,2),case when [GiamGia]>=(0) then [TongTien]*((1)-[GiamGia]/(100.0)) else [TongTien] end)) PERSISTED,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[CMND_CCCD] [nvarchar](12) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[LoaiKH] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[MaKH] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 13-Nov-25 11:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [nvarchar](20) NOT NULL,
	[TenTaiKhoan] [nvarchar](70) NOT NULL,
	[PassWord] [nvarchar](256) NOT NULL,
	[Type] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHD] ON 

INSERT [dbo].[ChiTietHD] ([id], [MaHD], [MaDV], [SoLuong], [DonGia], [GhiChu]) VALUES (1, 1, 1, 2, CAST(30000.00 AS Decimal(18, 2)), N'Gọi 2 suất Nhà hàng')
INSERT [dbo].[ChiTietHD] ([id], [MaHD], [MaDV], [SoLuong], [DonGia], [GhiChu]) VALUES (2, 1, 2, 1, CAST(20000.00 AS Decimal(18, 2)), N'Quầy bar')
INSERT [dbo].[ChiTietHD] ([id], [MaHD], [MaDV], [SoLuong], [DonGia], [GhiChu]) VALUES (3, 1, 5, 1, CAST(10000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietHD] OFF
GO
SET IDENTITY_INSERT [dbo].[DSDichVu] ON 

INSERT [dbo].[DSDichVu] ([id], [TenDV], [idLoaiDichVu], [DonGia], [DVT], [LuuY]) VALUES (1, N'Nhà hàng', 1, CAST(30000.00 AS Decimal(18, 2)), N'Lần', NULL)
INSERT [dbo].[DSDichVu] ([id], [TenDV], [idLoaiDichVu], [DonGia], [DVT], [LuuY]) VALUES (2, N'Quầy bar', 1, CAST(20000.00 AS Decimal(18, 2)), N'Lần', NULL)
INSERT [dbo].[DSDichVu] ([id], [TenDV], [idLoaiDichVu], [DonGia], [DVT], [LuuY]) VALUES (3, N'Massage - bấm huyệt', 4, CAST(120000.00 AS Decimal(18, 2)), N'Lần', NULL)
SET IDENTITY_INSERT [dbo].[DSDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([id], [NgayLapHD], [NgayKetThucHD], [MaPhong], [TongTien], [GiamGia], [status]) VALUES (1, CAST(N'2025-10-18T07:46:05.043' AS DateTime), CAST(N'2025-10-25T09:24:42.513' AS DateTime), 1, CAST(90000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[HoaDon] ([id], [NgayLapHD], [NgayKetThucHD], [MaPhong], [TongTien], [GiamGia], [status]) VALUES (2, CAST(N'2025-10-18T07:46:05.043' AS DateTime), CAST(N'2025-11-11T02:03:11.343' AS DateTime), 2, CAST(70000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[HoaDon] ([id], [NgayLapHD], [NgayKetThucHD], [MaPhong], [TongTien], [GiamGia], [status]) VALUES (3, CAST(N'2025-11-11T02:17:26.257' AS DateTime), CAST(N'2025-11-12T14:00:28.177' AS DateTime), 1, CAST(20000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [TenKH], [CMND_CCCD], [DiaChi], [SDT], [LoaiKH], [GhiChu]) VALUES (3, N'Phùng Nguyễn Hoài Bo', N'465465464564', N'Đà Lạt', N'0988752291', N'Khách lẻ', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVu] ON 

INSERT [dbo].[LoaiDichVu] ([id], [name]) VALUES (1, N'Ăn uống')
INSERT [dbo].[LoaiDichVu] ([id], [name]) VALUES (2, N'Đi lại')
INSERT [dbo].[LoaiDichVu] ([id], [name]) VALUES (5, N'Giải trí')
SET IDENTITY_INSERT [dbo].[LoaiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([id], [TenPhong], [MaKH], [GhiChu], [status]) VALUES (1, N'Phòng 101', NULL, NULL, N'Trống')
INSERT [dbo].[Phong] ([id], [TenPhong], [MaKH], [GhiChu], [status]) VALUES (2, N'Phòng 102', 3, NULL, N'Có dịch vụ')
INSERT [dbo].[Phong] ([id], [TenPhong], [MaKH], [GhiChu], [status]) VALUES (3, N'Phòng 103', NULL, NULL, N'Trống')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [PassWord], [Type]) VALUES (N'ad001', N'ADMIN', N'123456', 1)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [PassWord], [Type]) VALUES (N'ad002', N'KHANHVUONG', N'123456', 1)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [PassWord], [Type]) VALUES (N'user000', N'THEHUYNH', N'123456', 0)
GO
/****** Object:  Index [UQ_CTHD]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[ChiTietHD] ADD  CONSTRAINT [UQ_CTHD] UNIQUE NONCLUSTERED 
(
	[MaHD] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DSDichVu]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[DSDichVu] ADD  CONSTRAINT [UQ_DSDichVu] UNIQUE NONCLUSTERED 
(
	[TenDV] ASC,
	[idLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__B9137313B635B38C]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiDich__72E12F1B17954E6E]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[LoaiDichVu] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Phong__AE382B299CC73036]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[Phong] ADD UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__B106EAF8E24869B2]    Script Date: 13-Nov-25 11:23:29 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHD] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLapHD]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [status]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_DV] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DSDichVu] ([id])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_CTHD_DV]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[DSDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DSDichVu_Loai] FOREIGN KEY([idLoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([id])
GO
ALTER TABLE [dbo].[DSDichVu] CHECK CONSTRAINT [FK_DSDichVu_Loai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[USP_DangNhap]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DangNhap]
    @TenTaiKhoan NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.TaiKhoan WHERE TenTaiKhoan = @TenTaiKhoan;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DienHoaDon]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DienHoaDon]
    @billID INT, @giamgia DECIMAL(5,2)
AS
BEGIN
    SET NOCOUNT ON;

    -- làm tròn tổng chi tiết trước khi kết
    UPDATE hd
    SET TongTien = ISNULL(x.TongCT, 0)
    FROM dbo.HoaDon hd
    CROSS APPLY (
        SELECT SUM(ThanhTien) AS TongCT
        FROM dbo.ChiTietHD
        WHERE MaHD = hd.id
    ) x
    WHERE hd.id = @billID;

    UPDATE dbo.HoaDon
    SET status = 1,
        GiamGia = @giamgia,
        NgayKetThucHD = GETDATE()
    WHERE id = @billID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertChiTietHD]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertChiTietHD]
    @idHoaDon INT, @idDichVu INT, @soLuong INT, @ghiChu NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @donGia DECIMAL(18,2);
    SELECT @donGia = DonGia FROM dbo.DSDichVu WHERE id = @idDichVu;

    IF EXISTS (SELECT 1 FROM dbo.ChiTietHD WHERE MaHD = @idHoaDon AND MaDV = @idDichVu)
    BEGIN
        DECLARE @newCount INT = (SELECT SoLuong FROM dbo.ChiTietHD WHERE MaHD = @idHoaDon AND MaDV = @idDichVu) + @soLuong;

        IF (@newCount > 0)
            UPDATE dbo.ChiTietHD
            SET SoLuong = @newCount,
                GhiChu = ISNULL(@ghiChu, GhiChu)
            WHERE MaHD = @idHoaDon AND MaDV = @idDichVu;
        ELSE
            DELETE dbo.ChiTietHD WHERE MaHD = @idHoaDon AND MaDV = @idDichVu;
    END
    ELSE
    BEGIN
        INSERT dbo.ChiTietHD(MaHD, MaDV, SoLuong, DonGia, GhiChu)
        VALUES (@idHoaDon, @idDichVu, @soLuong, @donGia, @ghiChu);
    END

    -- Cập nhật tổng tiền hóa đơn theo chi tiết
    UPDATE hd
    SET TongTien = ISNULL(x.TongCT, 0)
    FROM dbo.HoaDon hd
    CROSS APPLY (
        SELECT SUM(ThanhTien) AS TongCT
        FROM dbo.ChiTietHD
        WHERE MaHD = hd.id
    ) x
    WHERE hd.id = @idHoaDon AND hd.status = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login]
    @TenTaiKhoan NVARCHAR(100),
    @password    NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.TaiKhoan WHERE TenTaiKhoan = @TenTaiKhoan AND PassWord = @password;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_ThemHoaDon]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ThemHoaDon]
    @idPhong INT
AS
BEGIN
    SET NOCOUNT ON;
    IF (NOT EXISTS(SELECT 1 FROM dbo.HoaDon WHERE MaPhong = @idPhong AND status = 0))
    BEGIN
        INSERT dbo.HoaDon(NgayLapHD, NgayKetThucHD, MaPhong, TongTien, GiamGia, status)
        VALUES (GETDATE(), NULL, @idPhong, 0, 0, 0);
    END
    SELECT TOP 1 * FROM dbo.HoaDon WHERE MaPhong = @idPhong AND status = 0 ORDER BY id DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XemPhong]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XemPhong]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.Phong;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XuatChiTietHD_HoaDon]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XuatChiTietHD_HoaDon]
    @billID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT cthd.*, dv.TenDV, dv.DVT
    FROM dbo.ChiTietHD cthd
    JOIN dbo.DSDichVu dv ON dv.id = cthd.MaDV
    WHERE cthd.MaHD = @billID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XuatDichVuTheoLoai]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XuatDichVuTheoLoai]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.DSDichVu WHERE idLoaiDichVu = @ID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XuatDS_IDHoaDon]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XuatDS_IDHoaDon]
    @billID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT dv.TenDV, cthd.DonGia, dv.DVT, cthd.SoLuong, cthd.ThanhTien
    FROM dbo.ChiTietHD cthd
    JOIN dbo.DSDichVu dv ON dv.id = cthd.MaDV
    WHERE cthd.MaHD = @billID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XuatHoaDonTheoPhong]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XuatHoaDonTheoPhong]
    @phongID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 * FROM dbo.HoaDon WHERE MaPhong = @phongID AND status = 0 ORDER BY id DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_XuatLoaiDichVu]    Script Date: 13-Nov-25 11:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_XuatLoaiDichVu]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.LoaiDichVu;
END

GO
